.mainHeadingBig {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
    font-size: 330%;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.page-header {
    #height: 8vh;
}

.btnContainer {
    height: 7%;
    position: relative;
    z-index: 1;
}

.bottomContainer {
    height: 87vh;
    width: 100%;
    position: relative;
}

.expense-add-form {
    position: absolute;
    right: 0;
    font-family: arial, helvetica, sans-serif;
    width: 27%;
    top: 3%;
}

.expense-add-form h4 {
    font-weight: bold;
}

.bottomExpenseDiv {
    height: 90vh;
    width: 73%;
}

.tableElement {
    width: 21%;
}

.selectAll {
    width: 4%;
}

.bottomTable {
    width: 95%;
    position: relative;
    top: 3%;
    border-collapse: collapse;
}

#displayArea td {
    text-align: center;
}

.form-element {
    display: flex;
    margin-bottom: 3%;
    height: 5vh;
}

.form-element label {
    #width: 83px;
}

.form-input {
    width: 100%;
    border-radius: 4px;
}

.labelDiv {
    flex: 0 0 83px;
}


.add {
    color: white;
    background-color: #449d44;
    display: inline-block;
    padding: 6px 10px;
    font-size: 2vh;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.cancel,
.getData {
    color: #1f1f1f;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 2vh;
    text-align: center;
    padding: 6px 10px;
}

td > button {
    border-radius: 4px;
    color: white;
    font-family: arial, helvetica, sans-serif;
}

.errorMessage {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
    border: 2px solid black;
    display: none;
    z-index: 1;
    background-color: #1f1f1f;
    color: white;

}

.closeButton {
    position: absolute;
    top: 2%;
    right: 2%;
}

.errorText {
    position: relative;
    top: 10%;
}

.loadingButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th,
td {
    border-bottom: 0.5px solid #cccccc;
    padding-top: 1%;
    padding-bottom: 1%;

}

.topCell {
    display: block;
}

.bottomCell{
    font-size: 80%;
}

.addBtnContainer,
.deleteBtnContainer,
.updateBtnContainer,
.searchBtnContainer {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 25px;
}

.deleteBtn,
.updateBtn,
.searchBtn {
    border-radius: 5px;
    padding: 5px;
    background-color: darkolivegreen;
    color: white;
}

.searchBtn {
    #background-color: darkolivegreen;
    #color: white;
    #padding: 5px;
    z-index: 10000;
}

.addBtnContainer {
    border: 1px dotted darkred;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.searchBtnContainer {
    #display: inline-block;
    #border-radius: 5px;
}

.updateForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    display: none;
}

.updateBottomContainer {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.item {
    padding: 15px;
    padding-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.modal .modal-dialog{
    margin: 0;
    height: 100%;
    width: 100%;
}

.modal-body {
    padding: 0;
    height: 70%;
    overflow-y: scroll;
}

.modal-header {
    height: 14%;
}

.modal-content {
    height: 100%;
}

#updateModal {
    padding: 0 !important;
}

.modal::-webkit-scrollbar {
    width: 0.2px;
}

.tableElement {
    text-align: center;
}

#displayArea .checkbox {
    margin: auto;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: inline-block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdownMainMenu {
    display: none;
    list-style: none;
}

.searchType {
    #display: none;
}

.smallScreenTableElem {
    display: none;
}

.updateBody {
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 10px;
}

.updateBody::-webkit-scrollbar {
    width: 7px;
}

.modal-title {
    font-family: fantasy;
    font-size: 160%;
}

.deleteConfirmModal {
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
}
.deleteConfirmMessage {
    text-align: center;
    position: relative;
    top: 30%;
}

@media (max-width: 768px) {
    body > * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        height: 100vh;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        #display: flex;
        #flex-direction: column;
        #align-items: center;
        #justify-content: center;
        height: 100%;
    }
    .page-header {
        width: 100%;
        #height: 7.5%;
        border: 0;
        padding-top: 10px;
        border-bottom: 1px solid #eee
    }
    .btnContainer {
        height: 5%;
        font-size: 150%;
    }
    .addBtnContainer {
        display: inline-block;
    }
    .deleteBtn,
    .updateBtn,
    .searchBtn {
        font-size: 107%;
    }
    .expense-add-form {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        #height: 38%;
        top: 10px;
        display: none;
    }

    .expenseType option {
        font-size: 12px;
        width: 20px;
    }

    .form {
        padding: 25px;
    }

    .form-element {
        display: flex;
        padding: 0;
        margin-bottom: 3.5%;
        width: 100%;
        font-size: 2vh;
    }

    .form-input {
        border: 1px solid #cccccc;
        padding: 6px 12px;
        width: 80%;
        display: inline-block;
        margin-left: auto;
        margin-right: 0;
    }

    .amount {
        width: 45%;
        margin-right: 0;
    }

    .currency {
        width: 30%;
        margin-left: 5%;
    }

    .bottomExpenseDiv {
        height: 87.5%;
        text-align: center;
        width: 100%;
    }

    .bottomTable {
        position: relative;
        #top: 240px;
        font-size: 138%;
        width: 100%;
    }
    .bottomTable thead {
        border-bottom: 1px solid #555555;
    }
    .tableElement {
        #width: 33.33%;
        display: table-cell;
        text-align: center;
    }
    .smallScreenTableElem {
        display: none;
    }
    .addModal {
        height: 90%;
        width: 90%;
        top: 5%;
        left: 5%;
    }
    .dropdown-menu li {
        font-size: 20px;
    }
    .deleteConfirmModal {
        width: 70%;
        height: 50%;
        top: 25%;
        left: 15%;
    }
}

@media (max-width: 576px) {
    .addBtnContainer span {
        font-size: 70%;
    }
    .deleteBtn,
    .updateBtn,
    .searchBtn {
        font-size: 70%;
    }
    .addBtnContainer,
    .deleteBtnContainer,
    .updateBtnContainer,
    .searchBtnContainer {
        margin-right: 0;
    }
    .addBtnContainer {
        padding-top: 0;
        padding-bottom: 0;
    }
    .btnContainer {
        text-align: center;
    }
    .smallScreenTableElem {
        display: table-cell;
    }
    .bigScreenTableElem {
        display: none;
    }
    .smallDetailType {
        font-weight: bold;
    }
    .smallDetailDate,
    .smallDetailLocation {
        font-size: 90%;
    }
    .selectAll {
        width: 8%;
    }
    .updateForm {
        width: 90%;
        height: 80%;
    }
    .dropdown-menu li {
        font-size: 15px;
    }
}