.mainHeadingBig {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.page-header {
    height: 8vh;
}

.btnContainer {
    height: 5vh;
}

.bottomContainer {
    height: 87vh;
    width: 100%;
    position: relative;
}

.expense-add-form {
    position: absolute;
    right: 0;
    font-family: arial, helvetica, sans-serif;
    width: 27%;
}

.bottomExpenseDiv {
    height: 90vh;
    width: 73%;
}

.tableElement {
    width: 21%;
}

.selectAll {
    width: 4%;
}

.bottomTable {
    width: 95%;
    position: relative;
    top: 3%;
    border-collapse: collapse;
}

#displayArea td {
    text-align: center;
}

.form-element {
    display: flex;
    margin-bottom: 3%;
    height: 5vh;
}

.form-element label {
    #width: 83px;
}

.form-input {
    width: 100%;
    border-radius: 4px;
}

.labelDiv {
    flex: 0 0 83px;
}


.add {
    color: white;
    background-color: #449d44;
    display: inline-block;
    padding: 6px 10px;
    font-size: 2vh;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.cancel,
.getData {
    color: #1f1f1f;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 2vh;
    text-align: center;
    padding: 6px 10px;
}

td > button {
    border-radius: 4px;
    color: white;
    font-family: arial, helvetica, sans-serif;
}

.errorMessage {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
    border: 2px solid black;
    display: none;
    z-index: 1;
    background-color: #1f1f1f;
    color: white;

}

.closeButton {
    position: absolute;
    top: 2%;
    right: 2%;
}

.errorText {
    position: relative;
    top: 10%;
}

.loadingButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th,
td {
    border-bottom: 0.5px solid #cccccc;
    padding-top: 1%;
    padding-bottom: 1%;

}

.topCell {
    display: block;
}

.bottomCell{
    font-size: 80%;
}

.addBtnContainer,
.deleteBtnContainer,
.updateBtnContainer {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 25px;
}

.deleteBtn,
.updateBtn {
    border-radius: 5px;
    padding: 5px;
    background-color: darkseagreen;
}

.searchBtn {
    background-color: darkseagreen;
    padding: 5px;
}

.addBtnContainer {
    border: 1px dotted darkred;
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.searchBtnContainer {
    display: inline-block;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: darkseagreen;
}

.updateForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    display: none;
}

.updateBottomContainer {
    width: 100%;
    text-align: center;
}

.item {
    padding: 15px;
    padding-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.modal .modal-dialog{
    margin: 0;
    height: 100%;
    width: 100%;
}

.modal-body {
    padding: 0;
}

#updateModal {
    padding: 0 !important;
}

.modal::-webkit-scrollbar {
    width: 0.2px;
}

.tableElement {
    text-align: center;
}

#displayArea .checkbox {
    margin: auto;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: inline-block;
}
@media (max-width: 768px) {
    body > * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        height: 100vh;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .page-header {
        width: 100%;
        height: 10%;
    }

    .expense-add-form {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        height: 38%;
        top: 10px;
    }

    .form-element {
        display: flex;
        padding: 0;
        margin-bottom: 3.5%;
        width: 100%;
        font-size: 2vh;
    }

    .form-input {
        border: 1px solid #cccccc;
        padding: 6px 12px;
        width: 90%;
        display: inline-block;
    }

    .bottomExpenseDiv {
        height: 52%;
        text-align: center;
        width: 100%;
    }

    .bottomTable {
        position: relative;
        top: 240px;
        font-size: 1.5vh;
        width: 100%;
    }
    .bottomTable thead {
        border-bottom: 1px solid #555555;
    }
    .tableElement {
        width: 33.33%;
        display: table-cell;
        text-align: center;
    }
}
